@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Roy's Web App</h1>
    <p class="lead">Now powered by Azure Container Registry and GitHub Actions</p>
    <p><a href="https://rol-containerwebapp.azurewebsites.net" class="btn btn-primary btn-lg">Visit Live Site</a></p>

</div>

<div>
    <h2>Learning</h2>
    <ul>
        <li>Azure Web Apps</li>
        <li>GitHub Actions</li>
        <li>ASP.NET</li>
    </ul>
    <h2>Challenges</h2>
    <ul>
        <li>Getting webhooks to work</li>
    </ul>
</div>

@* Trigger deployment
// I had to change the docker file path
//  changed placeholder name with resource group name
*@


