@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Roy's Web App</h1>
    <p class="lead">Now powered by Azure Container Registry and GitHub Actions</p>
    <p><a href="https://rol-containerwebapp.azurewebsites.net" class="btn btn-primary btn-lg">Visit Live Site</a></p>

</div>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

//Trigger deployment
//I had to change the docker file path
//changed placeholder name with resource group name


